<div class="sidebar" [ngClass]="{ 'expanded': isExpanded }">
  <div class="header">
    <h1 class="title">
      Banco de Questões
    </h1>
    <div class="toggle" (click)="handleSidebarToggle()">
      <span class="chevron"></span>
    </div>
  </div>
  <div class="content">
    <div class="link">
      <div class="content" [routerLink]="['/home']" [routerLinkActive]="'active'">
        <div class="icon">
          <i class="fa fa-home fa-2xl" aria-hidden="true"></i>
        </div>
        <div class="title">Home</div>
      </div>
    </div>
  </div>
</div>