:root {
  --body-background-1: white;
  --body-background-2: white;
}

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background: var(--body-background-1);
  background: var(--body-background-2);
}

